*{
    margin: 0;padding: 0;
}
body{
    background-color:var(--bg-col);
    height: auto;
    user-select: none;
}

#about-kino{
    padding-top: 70px;
    height: 100%;
    background-color: var(--bg-col)
}

#about-kino>.row{
    max-width: 670px;
    margin: auto;
}

.info-box{
    margin-top: 15px;
}

#start-btn{
    width: 100%;
    margin-bottom: 40px;
    background-color: var(--btn-col);
}

#section-2{
    display: none;
    background-color: var(--bg-col);
    height:100%;
    padding: 60px 0px 0px 0px;
    overflow-x: hidden;
}


#game-type{
   display: flex;
}

#btn-container{
    width: 85%;
    display: flex;
    margin: auto;
    background-color: var(--btn-col);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding: 3px 3px;
}

.game-type-btn{
    padding: 10px 13%;
    border-radius: 30px;
    cursor: pointer;
    margin: 0px;
    width: 50%;
    user-select: none;
}

.game-type-btn:hover{
    width:50%;
    background-color: var(--bg-col)
}

.game-type-active{
    width:50%;
    background-color: var(--bg-col);
}

.amount-input{
    color: white;
    outline: 2px solid rgba(98, 96, 96, 0.689);
    border: none;
    background-color: var(--btn-col);
    padding: 5px 30px 5px 5px;
    width: 90%;
    border-radius: 5px;
}

.amount-input:hover{
    border: 2px solid white;
}

#flex-inputImage{
    display: flex;
}

#currency-logo{
   position: relative;
   left:-27px;
   top: 3px;
}


.amount-contaner>label{
    color: var(--text-col);
}

#currency-logo>img{
    border-radius: 40px;
}

#mine-input{
    width: 90%;
    padding: 5px 0px;
}

.bet-btn-default{
    background-color: rgb(22, 119, 22);
    width: 90%;
    outline: none;
    padding: 15px 28px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    cursor:not-allowed !important;
}

.bet-button-active{
    background-color: rgb(31, 255, 32);
    cursor:pointer !important;
}

.bet-button-active:hover{
    background-color: rgb(27, 236, 27);
}

#box-container{
    height: 100%;
    background-color: var(--card-col);
    padding: 0px !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-div{
    position: relative;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(5,auto);
    gap:10px;
    width: 90%;
    padding: 20px 0px;
}

.box{
    user-select: none;
    font-family: 'roboto';
    font-weight: 900;
    font-size: 25px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    height: 88px;
    width: 100%;
    max-height: 90px;
    max-width: 100%;
    border-radius: 10px;
}   

#user-controls{
    background-color: var(--bg-col);
    margin: 20px 0px;
}

#bets-number{
    display: none;
}


#bet-started{
    display: none;
}

#displayed-Info{
    display: flex;
}

#totalbomb,#totalgem{
    padding: 5px 7px;
    background-color: var(--btn-col);
    margin: 0;
    margin-right: 5px;
}

#mine-input{
    cursor: pointer;
}

#game-result{
    display: none;
    position: relative;
    height: 150px;
    width: 200px;
    background-color: var(--btn-col);
    z-index: 1;
    opacity: 1;
    border: 5px solid var(--border-col);
    border-radius: 20px;
    align-content: center;
    text-align: center;
}

#game-covering{
    position: absolute;
}

#multiply{
    margin: auto;
    font-size: 30px;
}
#winning-amount{
    margin: auto;
    font-size: 20px;
}

#box-no-to-open{
    display: none;
}
#box-number{
    cursor: pointer;
}

.box-default{
    background-color: var(--btn-col);
    box-shadow: #898686 0px 7.19988px 0px 0px;
}

.box-default:hover{
    background-color: #d3d1d1;
    transform: scale(1.09);
    transform: translateY(-5px);
}

.box-selected{
    background-Color : rgb(176, 97, 255);
    box-Shadow : 0px 7.19988px rgb(144, 0, 255);
}

.box-selected-computer{
    box-shadow: inset 0 0.3em #0E0303;
    color: rgb(233, 17, 60);
    background-color: #270808;
}

.box-matched{
    background-image : url('../keno/img/emerald.png');
    background-repeat : no-repeat;
    background-position : center;
    background-size : 80%;
    background-color : #8618F4;
    box-shadow : #8618F4 0px 7.19988px 0px 0px;
    color: white;
}


.box-selected:hover{
    background-color: #AE69F2;
    transform: scale(1.09);
    transform: translateY(-5px);
}


@media screen and (max-width:1200px) {
    
    #box-container{
        height: 100%;
    }

    #box-div{
        width:90%;
        gap: 10px;
    }
    .box{
        max-height: 100%;
        max-width: 100%;
    }


    
    #user-controls{
        margin: 10px auto 50px;
    }
    #mines-container{
        padding: 0px !important;
        width: 100%;
    }
    .box{
        cursor: pointer;
        height: 90px;
        width: 100%;
        border-radius: 10px;
    }
    .amount-contaner{
        margin: 0px !important;
    }
}


@media screen and (max-width:900px) {
    #box-div{
        position: relative;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(8,auto);
        grid-template-rows: repeat(5,auto);
        gap:5px;
        overflow: auto;
        padding: 20px 0px;
    }
    
    .box{
        border-radius: 20px !important;
        cursor: pointer;
        max-height: 70px;
        min-width: 70px;
        border-radius: 10px;
    }

}

@media screen and (max-width:400px) {
    #game-result{
        height: 120px;
        width: 160px;
    }
     
    #multiply{
        font-size: 20px;
    }
    #winning-amount{
        font-size: 10px;
    }
}