*{
    margin: 0;padding: 0;
}
body{
    background-color: #213743;
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}

#about-mines{
    display: none;
    padding-top: 70px;
    height: 100%;
    background-color: rgba(56, 65, 80, 0.600);
}

#about-mines>.row{
    max-width: 600px;
    margin: auto;
}

.info-box{
    margin-top: 15px;
}

#start-btn{
    width: 100%;
    margin-bottom: 40px;
}

#section-2{
    /* display: none; */
    background-color: #213743;
    height:100%;
    padding: 60px 0px 0px 0px;
    overflow-x: hidden;
}


#game-type{
    display: flex;
    background-color: rgb(33, 55, 67);
}

#btn-container{
    width: 85%;
    display: flex;
    margin: auto;
    background-color: rgb(15, 33, 46);
    border-radius: 30px;
    align-items: center;
    text-align: center;
    padding: 3px 3px;
}

.game-type-btn{
    padding: 10px 13%;
    border-radius: 30px;
    cursor: pointer;
    margin: 0px;
    width: 50%;
}

.game-type-btn:hover{
    width:50%;
    background-color: rgb(47, 69, 83)
}

.game-type-active{
    width:50%;
    background-color: rgb(47, 69, 83);
}

.amount-input{
    color: white;
    outline: 2px solid rgba(98, 96, 96, 0.689);
    border: none;
    background-color: rgb(15, 33, 46);
    padding: 5px 30px 5px 5px;
    width: 90%;
    border-radius: 5px;
}

.amount-input:hover{
    border: 2px solid white;
}

#flex-inputImage{
    display: flex;
}

#currency-logo{
   position: relative;
   left:-27px;
   top: 3px;
}


.amount-contaner>label{
    color: rgb(177, 186, 211);
}

#currency-logo>img{
    border-radius: 40px;
}

#mine-input{
    width: 90%;
    padding: 5px 0px;
}

#bet-btn,#checkout-btn{
    background-color: rgb(31, 255, 32);
    width: 90%;
    outline: none;
    padding: 15px 28px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
}

#checkout-btn{
    display: none;
}

#bet-btn:hover{
    background-color: rgb(27, 236, 27);
}

#mines-container{
    background-color: #0F212E;
    padding: 0px !important;
    position: relative;
}

#mines-div{
    position: relative;
    display: grid;
    margin: 0px auto;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(5,auto);
    gap:12px 14px;
    width: 610px;
    max-width: 610px;
    padding: 20px 0px;
}

.box{
    cursor: pointer;
    height: 110px;
    width: 110px;
    background-color: rgb(47, 69, 83);
    box-shadow:  rgb(33, 55, 67) 0px 7.19988px 0px 0px;
    border-radius: 10px;
}

.box:hover{
    background-color: rgb(85, 112, 134);
    transform: scale(1.09);
    transform: translateY(-5px);
}

#user-controls{
    margin: 20px 0px;
}

#bets-number{
    display: none;
}


#bet-started{
    display: none;
}

#displayed-Info{
    display: flex;
}

#totalbomb,#totalgem{
    padding: 5px 7px;
    background-color: #0F212E;
    margin: 0;
    margin-right: 5px;
}

#mine-input{
    cursor: pointer;
}
#game-covering{
    opacity: 0.4;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100%;
    align-content: center;
}
#game-result{
    display: none;
    position: absolute;
    top: 40%;
    left: 35%;
    height: 150px;
    width: 200px;
    margin: auto;
    background-color: #1A2C38;
    z-index: 1;
    opacity: 1;
    border: 5px solid #00E701;
    border-radius: 20px;
    align-content: center;
    text-align: center;
}
#multiply{
    margin: auto;
    font-size: 30px;
}
#winning-amount{
    margin: auto;
    font-size: 20px;
}

#box-no-to-open{
    display: none;
}
#box-number{
    cursor: pointer;
}

@media screen and (max-width:992px) {
    #multiply{
        font-size: 25px;
        width: 80px;
        margin-bottom: 10px;
    }
    #winning-amount{
        width: 100px;
        font-size: 15px;
    }
    #game-result{
        top: 40%;
        left: 4 0%;
        height: 150px;
        width: 200px;
    }
    
    #user-controls{
        margin: 10px auto 50px;
    }
    #mines-container{
        background-color: #0F212E;
        padding: 0px !important;
        width: 100%;
    }
    #mines-div{
        display: grid;
        margin: 20px auto;
        grid-template-columns: repeat(5,auto);
        grid-template-rows: repeat(5,auto);
        gap:12px 2px;
        width: 100%;
    }
    .box{
        cursor: pointer;
        height: 90px;
        width: 100%;
        background-color: rgb(47, 69, 83);
        box-shadow:  rgb(33, 55, 67) 0px 7.19988px 0px 0px;
        border-radius: 10px;
    }
    .amount-contaner{
        margin: 0px !important;
    }
}

@media screen and (max-width:333px) {
    #game-result{
        top: 30%;
        left: 25%;
        width: 50%;
    }
}

@media screen and (max-width:575px) {
    #game-result{
        top: 30%;
        left: 25%;
        width: 50%;
    }
}